.container{
    background-color: blue;
    width: 50%;
    height: 600px;
    display: flex;
     /* justify-content: end;  */
    /* justify-content: center; */
    justify-content: space-between;
    align-items: end;
    gap: 3px;
    padding: 10px;
}

.neta{
    width: 50px;
    width: 50px;
    background-color: black;
    justify-content: space-between;
}
.filha{
        display: flex;
    	background-color: blueviolet;
        width: 30%;
        height: 70px;
        justify-content: space-evenly;
}

/*  

align-items é na vertical
justify-content é na horizontal


*/